OpenVid_part0.zip
extracted_videos/
videos/
reconstructed_compressed.npz
.DS_Store
tf-gpu-env/
ece539_Project.code-workspace
*.avi
*.mp4
*.npz
*.pyc
training_runs/vqvae_video_compression/logs/*